<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
  <fieldset>
    <legend>ログインしてください</legend>
    <div>
      <%= label_tag :name, '名前:' %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div>
      <%= label_tag :password, 'パスワード' %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag 'ログイン' %>
    </div>
  </fieldset>
<% end %>
