<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<legend>ユーザ情報の入力</legend>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :所属 %><br />
    <%= f.text_field :attached %>
  </div>
  <div class="field">
    <%= f.label :出社状態 %><br />
    <%= f.check_box :turnUp %>
  </div>
  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :パスワードの確認 %><br />
    <%= f.password_field :password_confirmaion, size: 40 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
