<h1>社員リスト</h1>

  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>


<table class='scaffold_table'>
  <tr>
    <th><%= link_to "ID", sort: "id" %></th>
    <th><%= link_to "名前", sort: "name" %></th>
    <th><%= link_to "連絡先(メールアドレス,電話番号)", sort: "mail" %></th>
    <th><%= link_to "所属", sort: "attached" %></th>
    <th><%= link_to "出社状態", sort: "turnUp" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.mail %></td>
    <td><%= user.attached %></td>
    <td><%= if user.turnUp == true then "しています" else "していません" end %></td>
    <td><%= link_to 'ユーザーページ', user %></td>
    <td><%= link_to 'ユーザー情報変更', edit_user_path(user) %></td>
    <td><%= link_to 'ユーザ情報削除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'メンバーを追加する', new_user_path %>
<%= link_to 'スケジュール一覧', '/schedules' %>
