<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @user.name %>
</p>

<p>
  <b>メールアドレス:</b>
  <%= @user.mail %>
</p>

<p>
  <b>所属:</b>
  <%= @user.attached %>
</p>

<p>
  <b>出社状態:</b>
  <%= @user.turnUp %>
</p>


<table class='scaffold_table'><!--　CSS指定の方法 -->
  <tr>
    <th>スケジュール名</th>
    <th>開始時刻</th>
    <th>終了時刻</th>
    <th>状態</th>
  </tr>

  <% if @user.schedules %>
    <% for det in @user.schedules #ここはmodelに合わせてschedules %>
<tr>
    <td><%= det.title %></td>
     <td><%= det.start.year %>年<%= det.start.month %>月<%= det.start.day %>日<%= det.start.hour %>:<%= det.start.min %></td>
      <td><%= det.finish.year %>年<%= det.finish.month %>月<%= det.finish.day %>日<%= det.finish.hour %>:<%= det.finish.min %></td>
    <td><%= if det.being == true then "実行中" else "待機中" end %></td>
</td>
    <% end %>
  <% end %>
</table>

<%= link_to 'ユーザ情報変更', edit_user_path(@user) %> |
<%= link_to '社員一覧へ', users_path %> |
<%= link_to 'スケジュール一覧', '/schedules' %>
