<h1>社員スケジュール</h1>

<table class='scaffold_table'><!--　CSS指定の方法 -->
  <tr>
    <th><%= link_to "スケジュール名", sort: "title" %></th>
    <th><%= link_to "開始時刻", sort: "start" %></th>
    <th><%= link_to "終了時刻", sort: "finish" %></th>
    <th><%= link_to "状態", sort: "being" %></th>
    <th><%= link_to "ユーザ", sort: "user_id" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.title %></td>
    <td><%= schedule.start.year %>年<%= schedule.start.month %>月<%= schedule.start.day %>日<%= schedule.start.hour %>:<%= schedule.start.min %></td>
    <td><%= schedule.finish.year %>年<%= schedule.finish.month %>月<%= schedule.finish.day %>日<%= schedule.finish.hour %>:<%= schedule.finish.min %></td>
    <td><%= if schedule.being == true then "実行中" else "待機中" end %></td>
    <td><%= schedule.user_id %></td>
    <td><%= link_to 'スケジュール個別ページ', schedule %></td>
    <td><%= link_to 'スケジュール管理', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'スケジュール消去', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'スケジュールを追加', new_schedule_path %>
<%= link_to '社員一覧', '/users' %>
