<p id="notice"><%= notice %></p>

<p>
  <b>スケジュール名:</b>
  <%= @schedule.title %>
</p>

<p>
  <b>開始時刻:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>終了時刻:</b>
  <%= @schedule.finish %>
</p>

<p>
  <b>状態:</b>
  <%= if @schedule.being == true then "実行中" end %>
</p>

<p>
  <b>Whose:</b>
  <%= @schedule.user_id %>
</p>


<%= link_to 'このスケジュールを編集', edit_schedule_path(@schedule) %> |
<%= link_to 'スケジュール一覧に戻る', schedules_path %>
